{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Merhaba Herkese</h1>
    <p class="lead">Dünyanın en büyük proje planlama ve yönetme uygulamasına hoşgeldin. Burada projelerini ekibinle 
      geliştirebilir ve yönetebilirsin.
    </p>
    <hr class="my-4">
    <p>Hazırsan Başlayalım...</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Daha fazla</a>
    </p>
  </div>
</div>
{% endblock body %}